<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand mx-5" href="">ox4sDatabase</a>
    @NavItems
</nav>

@code
{
    [Parameter]
    public RenderFragment? NavItems { get; set; }
}


